<div class='filtrado'>
    <p>
        <a href="{% url 'filtrado_por_letra' letra='A' %}">A</a>
        <a href="{% url 'filtrado_por_letra' letra='B' %}">B</a>
        <a href="{% url 'filtrado_por_letra' letra='C' %}">C</a>
        <a href="{% url 'filtrado_por_letra' letra='D' %}">D</a>
        <a href="{% url 'filtrado_por_letra' letra='E' %}">E</a>
        <a href="{% url 'filtrado_por_letra' letra='F' %}">F</a>
        <a href="{% url 'filtrado_por_letra' letra='G' %}">G</a>
        <a href="{% url 'filtrado_por_letra' letra='H' %}">H</a>
        <a href="{% url 'filtrado_por_letra' letra='I' %}">I</a>
        <a href="{% url 'filtrado_por_letra' letra='J' %}">J</a>
        <a href="{% url 'filtrado_por_letra' letra='K' %}">K</a>
        <a href="{% url 'filtrado_por_letra' letra='L' %}">L</a>
        <a href="{% url 'filtrado_por_letra' letra='M' %}">M</a>
        <a href="{% url 'filtrado_por_letra' letra='N' %}">N</a>
        <a href="{% url 'filtrado_por_letra' letra='O' %}">O</a>
        <a href="{% url 'filtrado_por_letra' letra='P' %}">P</a>
        <a href="{% url 'filtrado_por_letra' letra='Q' %}">Q</a>
        <a href="{% url 'filtrado_por_letra' letra='R' %}">R</a>
        <a href="{% url 'filtrado_por_letra' letra='S' %}">S</a>
        <a href="{% url 'filtrado_por_letra' letra='T' %}">T</a>
        <a href="{% url 'filtrado_por_letra' letra='U' %}">U</a>
        <a href="{% url 'filtrado_por_letra' letra='V' %}">V</a>
        <a href="{% url 'filtrado_por_letra' letra='W' %}">W</a>
        <a href="{% url 'filtrado_por_letra' letra='X' %}">X</a>
        <a href="{% url 'filtrado_por_letra' letra='Y' %}">Y</a>
        <a href="{% url 'filtrado_por_letra' letra='Z' %}">Z</a>
    </p>
</div>
